<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sit.zlx.enotebackend.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="sit.zlx.enotebackend.domain.File">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="noteId" column="noteId" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="mimeType" column="mimeType" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="uploadAt" column="uploadAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,noteId,
        type,name,path,
        mimeType,size,uploadAt
    </sql>
</mapper>
