<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sit.zlx.enotebackend.mapper.FolderMapper">

    <resultMap id="BaseResultMap" type="sit.zlx.enotebackend.domain.Folder">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parentId" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parentId,name,
        userId
    </sql>
</mapper>
